@media (max-width: 1080px)
{
   .info-back p{
   	display: none;
   }
}

@media (max-width: 767px)
{
   .info-back p{
   	display: block;
   }

   .presentacion h1 {
    font-size: 1em;
   }

   .presentacion h2 {
    font-size: 0.4em;
   }   
}

@media (max-width: 343px)
{
   .info-back p{
   	display: none;
   }
}